[run]
branch = True

include =
    modulation/*

omit =
    tests/*

[report]
exclude_lines =
    pragma: no cover

    def __repr__
    def __str__
    def info

    raise NotImplementedError

    for _ in \[\]:
